<!doctype html>

<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="/static/styles.css" rel="stylesheet" />
    <title>Sela's Photography</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Sela's Photography</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/animal">Animal Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/astro">Astrophotography</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/street">Street Photography</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/travel">Travel Photos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>{% block main %}{% endblock %}</main>
  </body>
  <footer>
    <div class="row-foot">
      <div class="column-foot">
        <div class="card" style="width: 18rem">
          <img src="/static/Magpie1.JPG" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Animal Photography</h5>
            <a href="/animal" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>

      <div class="column-foot">
        <div class="card" style="width: 18rem">
          <img src="/static/Stars3.JPG" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Astrophotography</h5>
            <a href="/astro" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>

      <div class="column-foot">
        <div class="card" style="width: 18rem">
          <img src="/static/Jesus.JPG" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Street Photography</h5>
            <a href="/street" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>

      <div class="column-foot">
        <div class="card" style="width: 18rem">
          <img src="/static/OldTown.JPG" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Travel Photos</h5>
            <a href="/travel" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
