{% extends "layout.html" %} {% block main %}

<h2>Street Photography & New York City</h2>
<h4>Subheading</h4>

<div class="street-row">
  <div class="street-column">
    <img src="static/BigApple.JPG">
    <img src="static/Banners.JPG">
    <img src="static/CarDog.JPG">
    <img src="static/Resting.JPG">
    <img src="static/Love.JPG">
    <img src="static/OnWay.JPG">
  </div>
  <div class="street-column">
    <img src="static/Reflection.JPG">
    <img src="static/BeautifulDay.JPG">
    <img src="static/Jesus.JPG">
    <img src="static/Headphones.JPG">
    <img src="static/Clown.JPG">
    <img src="static/Illegal.JPG">
  </div>
</div>

{% endblock %}
