{% extends "layout.html" %} {% block main %}

<h2>Travel Photos</h2>
<h4>Subheading</h4>

<div class="travel-row">
  <div class="travel-column">
    <p>Alaska, 2023</p>
    <img src="static/Denali.JPG">
    <img src="static/PacificOcean.JPG">
    <img src="static/DiscoveryIII.JPG">
    <img src="static/PacificSunset.JPG">
  </div>
  <div class="travel-column">
    <p>Arizona, 2026</p>
    <img src="static/Signage.JPG">
    <img src="static/GrandCanyon.JPG">
    <img src="static/OldTown.JPG">
    <img src="static/Road.JPG">
  </div>
  <div class="travel-column">
    <p>Colorado, 2024</p>
    <img src="static/Rockies.JPG">
    <img src="static/RockyField.JPG">
    <img src="static/ColoradoMountain.JPG">
    <img src="static/OnTheIce.JPG">
  </div>
  <div class="travel-column">
    <p>Banff, 2026</p>
    <img src="static/Sunshine.JPG">
    <img src="static/MountainHouse.JPG">
    <img src="static/LakeSky.JPG">
    <img src="static/MountainTop.JPG">
  </div>
</div>

{% endblock %}
